* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}

.header-section {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar .nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 30px;
}

.nav-item {
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
}

.ticket-btn{
    display: inline-flex;
    align-items: center;
    gap: 13px;
    padding: 12px 20px;
    background: #F2C230;
    color: #181818;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.ticket-btn .icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ticket-btn .icon i{
    font-size: 14px;
}


.hero-section{
    width:95%;
    height:600px;
    margin:auto;
    background:url("./assets/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:14px;
}

.hero-content{
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    color:white;
    padding-left:35px;
}

.hero-text p{
    max-width:700px;
    line-height:1.6;
    margin:25px 0 40px;
}

.hero-text h2{
    font-size:64px;
    line-height:1.05;
    font-weight:700;
}

.ticket-btn.hero-btn {
    padding: 18px 20px;
}