* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

/* universal btn */

.ticket-btn{
    display: inline-flex;
    align-items: center;
    gap: 13px;
    padding: 12px 20px;
    background: #F2C230;
    color: #181818;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}


header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}

.header-section {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar .nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 30px;
}

.nav-item {
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
}



.ticket-btn .icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ticket-btn .icon i{
    font-size: 14px;
}


.hero-section{
    width:95%;
    height:600px;
    margin:auto;
    background:url("./assets/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:14px;
}

.hero-content{
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    color:white;
    padding-left:35px;
}

.hero-text p{
    max-width:700px;
    line-height:1.6;
    margin:25px 0 40px;
}

.hero-text h2{
    font-size:64px;
    line-height:1.05;
    font-weight:700;
}

.ticket-btn.hero-btn {
    padding: 18px 20px;
}

.info-section{
    width:95%;
    height:120px;
    margin:20px auto;
    background:#F6C42D;
    border-radius:10px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 35px;
}

.info-item{
    display:flex;
    flex-direction:column;
    gap:12px;
}

.info-item p{
    font-size:12px;
    color:#555;
}

.info-item h2{
    font-size:52px;
    font-weight:700;
    line-height:1;
}

.host-cities{
    width:85%;
    margin:100px auto;
}

.section-title{
    text-align:center;
    margin-bottom:60px;
}

.section-title h2{
    font-size:50px;
    font-weight:600;
    letter-spacing: 1.3px;
}

.cities-container{
    display:flex;
    flex-direction:column;
    gap:40px;
}

.city-card{
    display:flex;
    gap:40px;
    align-items:flex-start;
}

.city-image{
    width:400px;
    flex-shrink:0;
}

.city-image img{
    width:100%;
    height:300px;
    border-radius:14px;
    display:block;
}

.city-content h3{
    font-size:40px;
    margin-bottom:14px;
}

.city-content p{
    color:#666;
    line-height:1.6;
    margin-bottom:18px;
}

.city-content ul{
    padding-left:18px;
    color:#444;
    line-height:1.6;
}

.host-btn{
    margin:40px auto 0;
    padding: 18px 20px;
    display: flex;
    justify-content: center;
}

.matches{
    width:85%;
    margin:100px auto;
}

.section-heading{
    margin-bottom:28px;
}

.section-heading h2{
    font-size:46px;
    font-weight:700;
    color:#181818;
    margin-bottom:10px;
}

.section-heading p{
    max-width:760px;
    color:#666;
    line-height:1.7;
    font-size:15px;
}

.match-table{
    width:100%;
    border-collapse:collapse;
}

.match-table thead{
    background:#A83030;
}

.match-table th{
    color:#fff;
    padding:18px;
    text-align:left;
    font-size:13px;
    text-transform:uppercase;
    font-weight:600;
}

.match-table td{
    padding:18px;
    border:1px solid #D9D9D9;
    font-size:15px;
}

.match-table tbody tr:nth-child(even){
    background:#FAFAFA;
}

.date{
    color:#D62E2E;
    font-weight:600;
}

.opening{
    color:#D62E2E;
    font-weight:600;
}

.final{
    color:#E0A000;
    font-weight:600;
}